/*#bcbabe
/*Common*/
body {
    font-family: 'Didact Gothic', sans-serif;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

/* navbar*/
.navbar {
    background-color: #1995ad;
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
}
.navbar-light .navbar-brand {
    margin: 0px 30px 0px 15px;
    font-size: 20px;
    letter-spacing:2px;
    font-weight: bold; 
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.navbar-brand img {
    margin: 0 15px;
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
}
.menu-links li{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 20px 0 20px;
   }
.navbar-light .navbar-nav .nav-link, .navbar-light {
    color: #f1f1f2;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("img/togler.svg");
}
.navbar-light .navbar-toggler {
    margin-left: 15px;
}
.navbar-light .navbar-brand:hover {
    color: #fff;
    border-color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    position: relative;
    top: -2px;
    color: #fff;
}
.header-contacts {
    color: #fff;
    margin-left: 20px;
}
.phone {
    font-weight: bold;
    font-size: 20px;
}
/* main-slide*/
.main-slide {
    background-color: #a1d6e2;
    background-size: cover;
    padding: 60px 0; 
}
.circle-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: dashed 1px #fff;
    border-radius: 50%;
    margin: auto;
    background: url("img/tooth_big.png") center no-repeat;
    background-size: 150px 200px;
}
.circle-container a {
    position: absolute;
    top: 50%; 
    left: 50%;
    max-width: 150px; 
    margin: -40px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.circle-container a:hover {
    text-decoration: none;
    color: #fff;
}
.deg0 { transform: translate(200px); }
.deg45 { transform: rotate(45deg) translate(200px) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(200px) rotate(-135deg); }
.deg180 { transform: translate(-200px); }
.deg225 { transform: rotate(225deg) translate(200px) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(200px) rotate(-315deg); }

/*about-us*/
.about-us {
   padding: 60px 0;
    
}
@media (max-width: 992px) {
    .left-col-bg-gray { background-color: #f1f1f2 }
}
@media (min-width: 993px) {
    .left-col-bg-gray { 
        background: linear-gradient(90deg, #f1f1f2 50%, #fff 50%);
    }
}
.carousel {
    margin:40px;
}
.about-us h1 {
    color: #1995ad;
}
.about-us-text {
    color: #000;
    margin: 40px;   
}
/*logos*/
.logos {
    padding: 20px 0;
    background-color: #f1f1f2;
}
.logos img {
    max-height: 90px;
    margin: 5px 15px;
}
/*services*/
.services {
    background-color: #a1d6e2;
    padding: 60px 0;
}
.p-3 {
    background-color: #bcbabe;
}

/*contacts*/
.contacts {
background-color: #1995ad;
padding: 60px 0; 
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-bottom: 10px;
  }
.contacts-text {
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}
.logo-text {
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    margin-left: 15px; 
}
.contacts-text img {
    margin: 0 15px;
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
}
.contacts-text-address {
    margin-bottom: 15px;
}
/*footer*/
footer {
background-color: #bcbabe;
padding: 15px;
color: #fff;
text-align: right;
}

/*responsive*/

@media screen and (max-width: 700px) {
    .circle-container {
        width: 260px;
        height: 260px;
        background-size: 60px 80px;
    }
    .circle-container a {
        max-width: 100px;
        margin: -40px;
        font-size: 16px;
    }
    .deg0 { transform: translate(130px); }
    .deg45 { transform: rotate(45deg) translate(130px) rotate(-45deg); }
    .deg135 { transform: rotate(135deg) translate(130px) rotate(-135deg); }
    .deg180 { transform: translate(-130px); }
    .deg225 { transform: rotate(225deg) translate(130px) rotate(-225deg); }
    .deg315 { transform: rotate(315deg) translate(130px) rotate(-315deg); }
}
@media screen and (max-width: 460px) {
    .deg315 { transform: translate(100px); }
    .deg45 { transform: rotate(60deg) translate(130px) rotate(-60deg); }
    .deg180 { transform: translate(-100px); }
    .deg0 { transform: rotate(300deg) translate(100px) rotate(-300deg); }
    .brand-text {
        margin-left: 15px;
        font-size: 16px;
    }
    .logos img {
        max-height: 60px;
        margin: 5px;
    }
}




