body {
    font-family: 'Didact Gothic', sans-serif;
}

/* navbar*/
.navbar {
    background-color: #1995ad;
}
.logo {
    margin: 15px 30px 15px 15px;
}
.logo img {
    margin: 0 15px;
    -webkit-filter: drop-shadow(-2px 2px 1px rgba(0,0,0,0.5));
}
.menu-links li{
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 25px;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand, .navbar-light .navbar-toggler  {
    color: #f1f1f2;
}
 


