/*#bcbabe
/*Common*/
body {
    font-family: 'Didact Gothic', sans-serif;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

/* navbar*/
.navbar {
    background-color: #f1f1f2;
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
}
.navbar-light .navbar-brand {
    margin: 10px 30px 0px 15px;
    font-size: 20px;
    letter-spacing:2px;
    font-weight: bold; 
    color: #1995ad;
}
.navbar-brand img {
    margin: 0 15px;
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
}
.menu-links li{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 20px 0 20px;
   }
.navbar-light .navbar-nav .nav-link, .navbar-light {
    color: #1995ad;
}
.navbar-light .navbar-brand:hover {
    color: #1995ad;
}
.navbar-light .navbar-nav .nav-link:hover {
    position: relative;
    top: -2px;
    color: #1995ad;
}
.header-contacts {
    color: #1995ad
}
.phone {
    font-weight: bold;
    font-size: 20px;
}
/* main-slide*/
.main-slide {
    background-color: #1995ad;
    padding: 150px 0 60px 0;
}
.main-slide img {
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
    width: 300px;
    margin: auto;
}
.services-main {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.services-line:hover {
    position: relative;
    top: -2px;
    cursor: pointer;
}
.services-line-first:hover {
    .main-slide img
}
/*about-us*/
.about-us {
    background-color: #f1f1f2;
    padding: 60px 0;
    
}
.about-us h1 {
    color: #000;
}
.about-us-text {
    color: #000;
    margin-bottom: 30px;
}
.LED-logo {
    max-height: 100px;
}
.other-logo {
    max-height: 100px;
    margin: 10px;
}
/*services*/
.services {
    background-color: #a1d6e2;
    padding: 60px 0;
}

/*contacts*/
.contacts {
background-color: #1995ad;
padding: 60px 0; 
}
.contacts-text {
    color: #fff;
    font-size: 20px;

}

